@import '../../variables.scss';

.projects-wrapper {
  padding: 2rem 1rem;

  .section-title {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

.MuiCard-root {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  }
}
